html,body,svg {
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: hidden;
    margin: 0px; 
}
#frame {
    margin-top: 20px;
    margin-right: 100px;
    position: absolute;
    z-index: 1;
}

#fromStation, #toStation {
    width: 80px;
    /* height: 30px; */
}

#form-find {
    margin-top: 20px;
    position: absolute;
    z-index: 2;
}

.controlpanel {
    margin-left: 40px;
    margin-top: 20px ;
    display: inline-block;
}

#divSetRoute {
    margin-left: 400px;
    margin-top: 20px ;
    display: inline-block;
    float: left;
}

.btn-control {
    
    width: 90px;
}

.msgOut {
    margin-top: 10px;
    margin-left: 40px;
    color: red;
    position: absolute;
    z-index: 2;
}


